/* SECTION */

/* #about, #product, #policy, #contact {
    margin: 200px 0 200px 0;
} */



/* CUSTOM */

:root {
    --text-color: #136810;
}

*, html {
    scroll-behavior: smooth !important;
}

.about-business {
    padding-top: 10rem;
}

.business-home {
    background-image: url("../image/home.png");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
}

.nav-sticky.navbar-custom {
    margin-top: 0px;
    padding: 15px 0px;
    background-color: #136810;
    box-shadow: 0px 3px 10px 0px rgba(255, 255, 255, 0.08);
}

.navbar-detail {
    background-color: var(--text-color) !important;
}

.nav-sticky .navbar-nav .nav-item .nav-link {
    color: white !important;
}

.footer {
    background-color: #136810;
}

.button {
    background-color: #136810;
    color: white;
}

.logo {
    width: 50%;
}

.descr {
    background-color: #136810;
    border: solid 1px #136810;
    border-radius: 15px 50px 30px; 
}

#about-text {
    color: black;
    padding-top: 95px;
}

#IcoValues {
    color: white;
}

.card-title, .card-text {
    color: black;
}

#product-card:hover {
    outline: .2rem solid #136810;
    outline-offset: 0;
    transition: all .2s linear;
}

#product-card:hover img {
    transform: scale(0.99);
    transition: all .2s linear;
}

#product-card img {
    opacity: 0.9;
    transition: all .2s linear;
    background-size: cover;
}

#product-card:hover .card-title {
    transition: all .2s linear;
    color: #136810;
}

.btn-product {
    background-color: #136810;
    color: white;
    width: 100%;
}

.btn-product:hover {
    transition: all .2s linear;
}

.submitBtn {
    color: #136810;
    background-color: white;
    border: 1px solid var(--text-color) !important;
}

.submitBtn:hover {
    background-color: var(--text-color) !important;
    color: white;
}

.business-services {
    color: white;
    background-color: var(--text-color);
}

.terms-about {
    background-color: var(--text-color);
}

.terms-title {
    color: white;
}

#card-terms {
    background-color: white !important;
    color: var(--text-color) !important;
    
}

.product-tabs {
    color: var(--text-color);
}

.nav-pills .nav-link.active {
    background-color: var(--text-color) !important;
}

.product-tabs:hover {
    background-color: var(--text-color) !important;
    color: white !important;
}

.card-title {
    background-color: var(--text-color);
}

.card-product {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
.card-product:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
/* responsive */

@media only screen and (max-width: 600px) {

    #navbar {
        background-color: #136810;
    }

    .nav-sticky.navbar-custom {
        background-color: #136810;
        box-shadow: 0px 3px 10px 0px rgba(255, 255, 255, 0.08);
    }

    .text-about {
        text-align: center !important;
    }
}



